@charset "utf-8";
/* CSS Document */
body,input,textarea,select{font-size:100%;color:#333;font-family:arial}
body{font-size:12px;line-height:1.5;background:#FFF}
body,h1,h2,h3,h4,p,ul,ol,dl,dt,dd{margin:0}
ul,ol{padding-left:0;list-style-type:none}

code,kbd,pre,samp{font-family:courier new,courier,monospace}
small{font-size:12px}
ul,ol{list-style:none}
a{text-decoration:none;color:#333}
a:hover{text-decoration:underline}
fieldset,img{border:0}
button,input,select,textarea{font-size:100%;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
.clearfix:after{content:'.';display:block;height:0;clear:both;visibility:hidden}
.clearfix{*zoom:1}
.black{color:#000}
.white{color:#fff}
.grey{color:#999}
.red{color:#c00}
.green{color:#090}
.blue{color:#467c9e}
.bold{font-weight:bold}
.hide{display:none}
body a.c1,.c1{color:#000}
body a.c2,.c2{color:#fff}
body a.c3,.c3{color:#008000}
body a.c4,.c4{color:#800000}
body a.c5,.c5{color:#808000}
body a.c6,.c6{color:#000080}
body a.c7,.c7{color:#800080}
body a.c8,.c8{color:#808080}
body a.c9,.c9{color:#ff0}
body a.c10,.c10{color:#0f0}
body a.c11,.c11{color:#0ff}
body a.c12,.c12{color:#f0f}
body a.c13,.c13{color:#f00}
body a.c14,.c14{color:#00f}
body a.c15,.c15{color:#008080}

a { color:#333; text-decoration: none;}
a:hover {color:#333;text-decoration: underline;}
a.blue:link,.a.blue:hover,.a.blue:visited { color:#0099ff; text-decoration: underline}
.clear { content:"."; clear:both; height:10px; line-height:0; font-size:0; visibility:hidden;}
.clear0 { content:"."; clear:both; height:0; line-height:0; font-size:0; visibility:hidden;}

/* 公用button ball */
.redball, .blueball, .redball_big, .blueball_big, .redball_bigst, .blueball_bigst { float:left; background:url(ball.gif) no-repeat; color:#FFF; font-weight:bold; text-align:center;}
.redball{ width:33px; height:31px; line-height:31px; background-position:left 0; font-size:15px;}
.blueball{ width:33px; height:31px;line-height:31px; background-position:left -31px; font-size:15px;}
.redball_big{ width:38px; height:37px; line-height:37px; background-position:left -143px; font-size:20px !important;}
.blueball_big{ width:38px; height:37px;line-height:37px; background-position:left -195px; font-size:20px;}
.redball_bigst{ width:46px; height:43px; line-height:43px; background-position:left -245px; font-size:20px;}
.blueball_bigst{ width:46px; height:43px;line-height:43px; background-position:left -300px; font-size:20px;}
.pubbot01{ background:url(ssq_pub02.gif) -10px -50px; width:79px; height:21px; line-height:21px; text-align:center; text-align:center; font-size:12px; font-weight: normal; border:0;}
.redball01{ display:block;width:21px; height:21px; line-height:21px; background:url(ball.gif) no-repeat -6px -76px; font-size:12px; color:#FFF; text-align:center; margin:0 auto}
.blueball01{display:block;width:21px; height:21px; line-height:21px; background:url(ball.gif) no-repeat -6px -111px; font-size:12px; color:#FFF; text-align:center; margin:0 auto}
/* 调整分享代码bug */

.digg{ overflow:hidden;}




